<html>
    <head>
        {{>navbar/head}}
    </head>
    <body>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                        {{#entries}}
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">{{name}}</span><br>
                                <span class="section-heading-lower">{{description}}</span><br>
                                <span class="section-heading-lower"><strong>{{allergen}}</strong></span>
                            </h2>
                        {{/entries}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>