<html>
    <head>
        {{>navbar/head}}
    </head>
    <body>
        {{>navbar/nav}}
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="./img/about.jpg" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Best Dishes, Strong Roots</span>
                                    <span class="section-heading-lower">About Our Restaurant</span>
                                </h2>
                                <p>Our team are passionate about excellent food, quality drinks and are fierce advocates for the promotion of Scotland's tourism industry. Our passion facilitates a desire to stay abreast of consumer trends and enables our delivery of a high-quality dining experience for our guests to enjoy.

                                    We designs our Menu based on seasonal availability with his produce sourced from the best local Scottish suppliers. We have supplier relationships that span our twenty years of trade; ensuring the best quality of products sourced.
                                    
                                    We offer our guests the opportunity to try the latest premium beverages and Scottish craft brands. </p>
                                <p class="mb-0">
                                    Each month we host at least one tasting event.
                                    
                                    Our popular Gin Experience & Cocktail lunches are run on a chosen Saturday each month and showcase a range of Scottish distilleries and products from around the globe.
                                    
                                    We invite world renowned winemakers to co-host our exclusive wine dinners showing off their wines all matched to Brian’s specially crafted menus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         {{>navbar/footer}}
    </body>
</html>